// === blog ===
.section-blog{
    position: relative;
    background-color: #F5F8FF;
}

.slider-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 104px 134px;
    
    &__list{
        width: 960px;
    }


    
    .section-inner{
        padding: 0;
    }
    
    &__item{
        display: flex;
        align-items: center;
        background-color:#F5F8FF ;
        padding: 63px 35px;
        &-illustration{
            flex-basis: 42%;
            display: grid;
            grid-template-columns: repeat(3, 134px);
            grid-template-rows: repeat(2, 134px);
            gap: 13px;
            margin-right: 6%;
            .img_1{
                grid-column: 1 / 3;
                grid-row: 1 / 3;
            }
            .img_2{
                grid-column-start: 3;
            }
            .img_3{
                grid-column-start: 3;
            }
            
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                
            }
        }

        &-content{
            flex-basis: 42%; 
        }

        h3{
            line-height: 45px;
            margin-bottom: 32px;
        }

        .text{
            margin-bottom: 31px;
        }
    }

    .dots{
        margin-top: 100px;
    }

}

// === / blog ===