// ===  customers ===
.section-customers{
    
    &-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &__logo + &__logo{
            padding-left: $base * 18;
            transition: $transition;
        }

        &__logo{
            svg{
                height: 23px;
            }
            path{
                
                transition: $transition;
                fill: $color-gray-100;
            }
            &:hover{
                path{
                    
                    fill: $color-blue-400;
                }
            }
        }

        &__link{
            display: block;
            width: 117px;
            margin: 0 auto;
            
        }

        

        
    }

}


@media (max-width: $breakpoint-lg-max){
    .section-customers{
        &-wrapper{
            flex-wrap: wrap;

            &__logo + &__logo{
                padding-left: 0;
                
            }

            &__logo{
                margin: 0 $base * 4;
                padding-top: $base * 7;
            }
        }

    }
    
}

// === / customers ===