.section-features{
    max-height: 885px;
}

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .section-subtitle{
        font-size: $fs-l;
        font-weight: $fw-medium;
    }
    
    &__content{
        display: flex;
        list-style: none;
        margin:0;
        padding: 0;
        &-item{
            position: relative;
            display: flex;
            width: 142px;
            flex-direction: column;
            align-items: center;

            a{
                text-decoration: none;
            }
            svg{
                display: block;
                padding-bottom: $base * 8;
            }

            .feature_name{
                display: inline-block;
                color: $color-blue-500;
                font-weight: $fw-bold;
                padding-bottom: $base * 6;
            }

            .text{
                font-weight: $fw-medium;
                font-size: $fs-xs;
                margin-bottom: $base * 23;
                line-height: 19px;
                text-align: center;
            }

            & + &{
                margin-left: $base * 18;
            }

            & + &::before{
                position: absolute;
                content: '';
                width: $base * 7;
                right: 110%;
                top: 40%;
                border: 1px solid $color-gray-100;
            }
        }
    }
    
    .btns{
        display: flex;
    }
}

.or-el{
    display: flex;
    text-transform: uppercase;
    align-items: center;
    position: relative;
    padding: 0 50px;
    font-size: $fs-xs;
    line-height: 19px;
    text-align: center;
    color: #ADB3CB;

    &::before,
    &::after{
        position: absolute;
        content: '';
        width: 15px;
        top: 21px;
        border: 1px solid #DAE4FE;
    }

    &::before{
        left: $base * 4;
    }
    &::after{
        right: $base * 4;
    }
}


@media (max-width: $breakpoint-lg-max){
    
}

@media (max-width: $breakpoint-md-max){
    .features{
        
        &__content{
            flex-wrap: wrap;
            &-item{
                
            }
        }
        
        .btns{
            display: flex;
        }
    }
    
}


@media (max-width: $breakpoint-sm-max){
    
}

// === / features ===