.section-features{
    max-height: 885px;
}

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 770px;

    .section-subtitle{
        font-size: 24px;
        font-weight: $fw-medium;
    }
    
    &__content{
        display: flex;
        list-style: none;
        margin:0;
        padding: 0;
        &-item{
            position: relative;
            display: flex;
            width: 142px;
            flex-direction: column;
            align-items: center;

            a{
                text-decoration: none;
            }
            svg{
                display: block;
                padding-bottom: 33px;
            }

            .feature_name{
                display: inline-block;
                color: $color-blue-500;
                font-weight: $fw-bold;
                padding-bottom: 25px;
            }

            .text{
                font-weight: $fw-medium;
                font-size: $fs-xs;
                margin-bottom: 92px;
                line-height: 19px;
                text-align: center;
            }

            & + &{
                margin-left: 70px;
            }

            & + &::before{
                position: absolute;
                content: '';
                width: 28px;
                right: 110%;
                top: 40%;
                border: 1px solid $color-gray-100;
            }
        }
    }
    
    .btns{
        display: flex;
    }
}

.or-el{
    display: flex;
    text-transform: uppercase;
    align-items: center;
    position: relative;
    padding: 0 50px;
    font-size: $fs-xs;
    line-height: 19px;
    text-align: center;
    color: #ADB3CB;

    &::before,
    &::after{
        position: absolute;
        content: '';
        width: 15px;
        top: 21px;
        border: 1px solid #DAE4FE;
    }

    &::before{
        left: 16px;
    }
    &::after{
        right: 16px;
    }
}

// === / features ===