
// === footer ===

.section-footer{
    border-bottom: none;
    .section-inner{
        padding: $padding-vertical-sm 0;
    }
}

.copyright{
    @include quicksand;

    font-size: $fs-s;
    font-weight: $fw-medium;
    padding: 28px 0 0 100px;
    color: $color-gray-800;
}

// === / footer ===