
// === footer ===

.section-footer{
    border-bottom: none;
}

.copyright{
    @include quicksand;

    font-size: $fs-s;
    font-weight: $fw-medium;
    padding: $base * 7 0 0 $base * 25;
    color: $color-gray-800;
}

// === / footer ===