
// === get-started ===

.section-get-started{
    background-color: $color-blue-400;
    .section-inner--wide{
        align-items: center;
        background-image: url('../img/getStarted/clouds.png') ;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 91px 395px;
        
    }
    h2, .section-subtitle, .text{
        color: $color-white;
    }

    .text{
        text-align: center;
        max-width: 712px;
        margin-bottom: 28px;
    }

    .btn--secondary{
        background-color: $color-white;
        color: $color-gray-900;
    }

}

// === / get-started ===