// === hero-image ===

.section-hero-image{
    position: relative;
    background-color:$color-gray-400;

    .dots{
        position: absolute;
        left: 49%;
        bottom: $base * 7;
    }
}

.slider-hero-image{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    &__item{
        width: 100%;
        height: $base * 167;
        text-align: center;
        background-image: url('../img/hero-image/hero_image.png');
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: cover;
        
        &-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: $base * 21;
            
            .text{
                width: $base * 125;
                height: $base * 18;
                margin: $base * 7 0 $base * 5 0;
            }
        }
    }
}

.icon_play{
    display: flex;
    align-items: center;
    justify-content: center;
    width: $base * 13;
    height: $base * 13;
    background-color: $color-white;
    border-radius: 100%;
    box-shadow: 0 $base * 2 50px rgba($color-gray-100, .6);

    &::before {
        display: block;
        width: 0;
        height: 0;
        margin-left: $base * 4;
        content: '';
        border-color: transparent;
        border-width: $base * 2 $base * 3;
        border-style: solid;
        border-left-color: $color-blue-400;
    }
}

// === / hero-image ===