

// === newsletter ===

.section-newsletter{
    &__content{
        display: flex;
        align-items: center;
    }

    &__text{
        flex-basis: 40%;
        margin-right: 10%;
    }

    &__forma{
        display: flex;
        flex-basis: 50%;
        input{
            background-color: $color-blue-400;
            margin-right: 14px;
        }
    }
}

// === / newsletter ===