// === newsletter ===

.section-newsletter{
    &__content{
        display: flex;
        align-items: center;
    }

    &__text{
        flex-basis: 40%;
        margin-right: 10%;
    }

    &__forma{
        display: flex;
        flex-basis: 50%;
        input{
            color: $color-gray-700;
            background-color: $color-gray-50;
            margin-right: $base * 3;
            border: 0;
            border-radius: $base;
            padding-left: $base * 6;
        }
    }
}

// === / newsletter ===