
.section-plan-and-manage{
    background-color: $color-gray-50;
}

.plan-and-manage{
    display: flex;
    position: relative;
    align-items: center;
    height: 776px;
    &__content{
        
        display: flex;
        flex-direction: column;
        min-width: 404px;
        margin-right: 64px;

        h2{
            margin-bottom: 27px;
        }

        .text{
            margin-bottom: 39px;
        }

    }

}
