
.section-plan-and-manage{
    background-color: $color-gray-50;
    position: relative;
    overflow: hidden;
}

.plan-and-manage{
    &__content{
        width: 50%;
        margin: 0 $base + 1;
        
        h2{
            margin-bottom: $base * 8;
        }

        .text{
            margin-bottom: $base * 10;
        }

    }

    &__img{
        position: absolute;
        top: 15%;
        left: 60%;

        max-width: 617px;
    }

}


@media (max-width: $breakpoint-md-max){
    .plan-and-manage{
        &__content{
            max-width: $base * 121;
        }

    }
    
}


@media (max-width: $breakpoint-sm-max){
    

    .plan-and-manage{
        &__content{
            
            width: 90%;
            margin-right: $base;
            .text{
                width: 100%;
                height: 150px;
            }
        }

        &__img{
            display: none;
        }
    }
}