// === quotes ===

.section-quotes{
    background-color: $color-blue-50;
    
    &__title{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-right: 10%;
        flex-basis: 40%;
    }
    &__content{
        display: flex;
        align-items: center;
    }
    .section-subtitle{
        font-size: $fs-xl;
        font-weight: $fw-medium;
    }

    &__testimonials{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 50%;

        &-block{
            position: relative;
            display: flex;
            background-color: $color-gray-50;
            width: $base * 105;
            padding: $base * 10 $base * 17;

            &--disablet{
                position: absolute;
                opacity: .45;
                right: -$base * 16;
            }

            &--active{
                position: relative;
            }
        }
        .avatar{
            position: absolute;
            bottom: -$base * 8;
            left: 45%;
        }
    }
    .dots{
        margin-top: $base * 20;
    }
}


.avatar{
    width: $base * 15;
    height: $base * 15;
    border-radius: 100%;
}
// === / quotes ===