@import 'header';
@import 'blog';
@import 'customers';
@import 'faq';
@import 'features';
@import 'footer';
@import 'get-started';
@import 'hero-image';
@import 'newsletter';
@import 'plan-and-manage';
@import 'quotes';
@import 'stats';

.section-outer{
    
    margin: 0 20px;

    &:not(:last-child){
        border-bottom: 1px solid $color-gray-200;
    }
}

.section-inner{
    max-width: 900px;
    margin: 0 auto;
    
    &--wide{
        max-width: 1200px;
    }
}
