// === stats ===

.section-stats{
    background-color: $color-blue-50;
}

.stats{
    display: flex;
    height: $base * 85;
    &__left{
        width:50%;
        background-color: $color-blue-400;
    }

    &__right{
        width:50%;
    }

    &__productivity{
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-right: $base * 22;
        color: $color-white;

        .text{
            display: flex;
            text-align: right;
            color: $color-white;
        }
    }

    &__value{
        @include quicksand;
        font-weight: $fw-regular;
        font-size: $fs-xxl;
    }

    &__users{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: $base * 22;
        color: $color-blue-600;
        .text{
            color: $color-blue-600;
        }
    }

    .text{   
        line-height: 23px;
        width:260px;
    }

    img{
        margin: $base * 16 0 $base * 7 0;
    }
}


// === / stats ===