.btn{
    @include quicksand;

    display: block;
    margin: 0;
    padding: $base * 3 $base * 4;
    border-radius: calc($base / 2);
    background-color: none;
    font-weight: $fw-bold;
    font-size: $fs-xs;
    text-decoration: none;
    transition: $transition;

    &--primary{
        color: $color-blue-700;
        background-color: $color-gray-100;
        &:hover{
            background-color: darken($color-gray-100, 2%);
        }
    }

    &--secondary{
        color: $color-white;
        background-color: $color-blue-500;
    }

    &--no_background{
        color: $color-gray-300;
        background-color: none;
        border: 1px solid $color-gray-100;
    }

    &--dangerous{
        color: $color-danger-800;
        background-color: $color-danger-100;
        border: 1px solid $color-gray-100;
    }
}

.btns_group{
    display: flex;
    a:nth-child(1){
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    a:nth-child(2){
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}