.section-customers-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.section-customers-wrapper__logo + .section-customers-wrapper__logo {
  padding-left: 75px;
  transition: 0.2s;
}
.section-customers-wrapper__logo path {
  transition: 0.2s;
  fill: #D6DAE5;
}
.section-customers-wrapper__logo:hover path {
  fill: #5982E7;
}
.section-customers .section-inner {
  padding: 60px 0;
}