h1,
h2,
h3,
h4,
h5,
h6 {
    @include quicksand;

    padding: 0;
    margin: 0;
    font-weight: $fw-regular;
    color: $color-blue-900;
}

h2{
    @include roboto; 
    margin-bottom: $base * 4;
    text-transform: uppercase;
    font-size: $fs-xxs;
    line-height: $base * 3;
    letter-spacing: 0.1em;
}

