// === Variables === 

$fw-light: 100;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-sm: 12px;
$fs-md: 15px;


$padding-vertical-xs: 20px;
$padding-vertical-sm: 60px;
$padding-vertical: 120px;

$color-divider: #d8e3fe;
$color-primary: #697CA6;
$color-secondary:#5E81FE;
$color-white: #fff;


$transition: .2s;

//  === / Variables === 


//colors


// som{color: #DAE4FE}
// som{color: #F5F8FF}
// som{color: #E9EFFF}
// som{color: #EAF0FF}
// som{color: #DAE4FE}
// som{color: #ADB3CB}
// som{color: #5E80FF}