.section-subtitle{
    @include quicksand;
    margin-bottom: $base * 7;
    color: $color-blue-900;
    font-size: $fs-xxl;
    font-weight: $fw-light;
    
    span{
        font-weight: $fw-medium;
    }
}


@media (max-width: 680px){
    .section-subtitle{
        font-size: $fs-xl;
    }
}

@media (max-width: $breakpoint-sm-max){
    .section-subtitle{
        font-size: $fs-l;
    }
}