.section-subtitle{
    @include quicksand;
    margin-bottom: $base * 7;
    color: $color-blue-900;
    font-size: $fs-xxl;
    font-weight: $fw-light;
    
    span{
        font-weight: $fw-medium;
    }
}