@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
.btn {
  font-family: "Quicksand", sans-serif;
  display: block;
  margin: 0;
  padding: 0.75rem 1rem;
  border-radius: 0.125rem;
  background-color: none;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  transition: 0.2s;
}
.btn--primary {
  color: #3a79ff;
  background-color: #c7d3ff;
}
.btn--primary:hover {
  background-color: #bdcbff;
}
.btn--secondary {
  color: #fff;
  background-color: #4c85ff;
}
.btn--no_background {
  color: #adb4d2;
  background-color: none;
  border: 1px solid #c7d3ff;
}
.btn--dangerous {
  color: #d43f3f;
  background-color: #ffd7d7;
  border: 1px solid #c7d3ff;
}

.btns_group {
  display: flex;
}
.btns_group a:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btns_group a:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #3d4f9f;
}

h2 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 0.75rem;
  letter-spacing: 0.1em;
}

.ta-c {
  text-align: center;
}

.text {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #8d96db;
}

.dots {
  display: flex;
  margin: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}
.dots__item {
  width: 0.5rem;
  height: 0.5rem;
  cursor: pointer;
  border-radius: 100%;
  background-color: #adb4d2;
  transition: 0.2s;
}
.dots__item--active {
  background-color: #5283ff;
}
.dots__item + .dots__item {
  margin-left: 0.75rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.vertical-index--s {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.vertical-index--m {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
.vertical-index--l {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.section-subtitle {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 1.75rem;
  color: #3d4f9f;
  font-size: 48px;
  font-weight: 100;
}
.section-subtitle span {
  font-weight: 500;
}

.logo {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  background-color: #5e81fe;
}

.section-header .section-inner {
  padding: 20px 0;
}

.main-navigation {
  display: flex;
  align-items: center;
}
.main-navigation .btn-wrapper {
  margin-left: 2.75rem;
}

.nav {
  margin-left: 4.5rem;
}

.nav-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
.nav-wrapper__item + .nav-wrapper__item {
  margin-left: 2.5rem;
}
.nav-wrapper__item-link {
  font-family: "Quicksand", sans-serif;
  color: #676f95;
  font-size: 12px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}
.nav-wrapper__item-link:hover {
  color: #5e81fe;
}
.nav-wrapper__item-link--active {
  color: #5e81fe;
  font-weight: 700;
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;
}
.socials-wrapper__item + .socials-wrapper__item {
  margin-left: 2.25rem;
}
.socials-wrapper__item-link path {
  fill: #adb4d2;
  transition: 0.2s;
}
.socials-wrapper__item-link:hover path {
  fill: #7382a3;
}

.section-blog {
  position: relative;
  background-color: #f5f8ff;
}

.slider-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.5rem 8.25rem;
}
.slider-blog__list {
  width: 960px;
}
.slider-blog .section-subtitle {
  font-size: 24px;
  font-weight: 500;
}
.slider-blog .section-inner {
  padding: 0;
}
.slider-blog__item {
  display: flex;
  align-items: center;
  background-color: #f5f8ff;
  padding: 3.75rem 2rem;
}
.slider-blog__item-illustration {
  flex-basis: 42%;
  display: grid;
  grid-template-columns: repeat(3, 8.25rem);
  grid-template-rows: repeat(2, 8.25rem);
  gap: 13px;
  margin-right: 6%;
}
.slider-blog__item-illustration .img_1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.slider-blog__item-illustration .img_2 {
  grid-column-start: 3;
}
.slider-blog__item-illustration .img_3 {
  grid-column-start: 3;
}
.slider-blog__item-illustration img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider-blog__item-content {
  flex-basis: 42%;
}
.slider-blog__item h3 {
  line-height: 2.75rem;
  margin-bottom: 2rem;
}
.slider-blog__item .text {
  margin-bottom: 2rem;
}
.slider-blog .dots {
  margin-top: 6.25rem;
}

.section-customers-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.section-customers-wrapper__logo + .section-customers-wrapper__logo {
  padding-left: 4.5rem;
  transition: 0.2s;
}
.section-customers-wrapper__logo path {
  transition: 0.2s;
  fill: #c7d3ff;
}
.section-customers-wrapper__logo:hover path {
  fill: #5e81fe;
}
.section-customers .section-inner {
  padding: 60px 0;
}

.section-faq__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11rem 4.5rem;
}
.section-faq .section-subtitle {
  font-size: 24px;
  font-weight: 500;
}
.section-faq__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.25rem;
}
.section-faq__accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.section-faq__accordion-item {
  width: 80%;
  padding-bottom: 2rem;
  margin-bottom: 2.25rem;
  border-bottom: 1px solid #c7d3ff;
}
.section-faq__accordion-item .text {
  display: inline;
  font-style: normal;
}
.section-faq__accordion-item .body {
  display: none;
}
.section-faq__accordion-item svg {
  margin-right: 1.5rem;
}
.section-faq__accordion-item--active .preview .text {
  color: #676f95;
}
.section-faq__accordion-item--active svg {
  transform: rotate(180deg);
}
.section-faq__accordion-item--active .body {
  display: flex;
  padding: 1rem 0 3.25rem 5rem;
}
.section-faq__accordion-item--active .body .text {
  flex-basis: 60%;
  margin-right: 10%;
}
.section-faq__accordion-item--active .body .btn-icon-play-wrapper {
  flex-basis: 30%;
}

.section-features {
  max-height: 885px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 770px;
}
.features .section-subtitle {
  font-size: 24px;
  font-weight: 500;
}
.features__content {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.features__content-item {
  position: relative;
  display: flex;
  width: 142px;
  flex-direction: column;
  align-items: center;
}
.features__content-item a {
  text-decoration: none;
}
.features__content-item svg {
  display: block;
  padding-bottom: 2rem;
}
.features__content-item .feature_name {
  display: inline-block;
  color: #4c85ff;
  font-weight: 700;
  padding-bottom: 1.5rem;
}
.features__content-item .text {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 5.75rem;
  line-height: 19px;
  text-align: center;
}
.features__content-item + .features__content-item {
  margin-left: 4.5rem;
}
.features__content-item + .features__content-item::before {
  position: absolute;
  content: "";
  width: 1.75rem;
  right: 110%;
  top: 40%;
  border: 1px solid #c7d3ff;
}
.features .btns {
  display: flex;
}

.or-el {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  position: relative;
  padding: 0 50px;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  color: #ADB3CB;
}
.or-el::before, .or-el::after {
  position: absolute;
  content: "";
  width: 15px;
  top: 21px;
  border: 1px solid #DAE4FE;
}
.or-el::before {
  left: 1rem;
}
.or-el::after {
  right: 1rem;
}

.section-footer {
  border-bottom: none;
}
.section-footer .section-inner {
  padding: 60px 0;
}

.copyright {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 1.75rem 0 0 6.25rem;
  color: #676f95;
}

.section-get-started {
  background-color: #5e81fe;
}
.section-get-started .section-inner--wide {
  align-items: center;
  background-image: url("../img/getStarted/clouds.png");
  background-repeat: no-repeat;
  background-position: center;
}
.section-get-started__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.75rem 24.5rem;
}
.section-get-started h2, .section-get-started .section-subtitle, .section-get-started .text {
  color: #fff;
}
.section-get-started .text {
  text-align: center;
  max-width: 44.5rem;
  margin-bottom: 1.75rem;
}
.section-get-started .btn--secondary {
  background-color: #fff;
  color: #495274;
}

.section-hero-image {
  position: relative;
  background-color: #8e96d7;
}
.section-hero-image .dots {
  position: absolute;
  left: 49%;
  bottom: 1.75rem;
}

.slider-hero-image {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
.slider-hero-image__item {
  width: 100%;
  height: 41.75rem;
  text-align: center;
  background-image: url("../img/hero-image/hero_image.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-hero-image__item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5.25rem;
}
.slider-hero-image__item-content .text {
  width: 31.25rem;
  height: 4.5rem;
  margin: 1.75rem 0 1.25rem 0;
}

.icon_play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.25rem;
  height: 3.25rem;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 0.5rem 50px rgba(199, 211, 255, 0.6);
}
.icon_play::before {
  display: block;
  width: 0;
  height: 0;
  margin-left: 1rem;
  content: "";
  border-color: transparent;
  border-width: 0.5rem 0.75rem;
  border-style: solid;
  border-left-color: #5e81fe;
}

.section-newsletter__content {
  display: flex;
  align-items: center;
}
.section-newsletter__text {
  flex-basis: 40%;
  margin-right: 10%;
}
.section-newsletter__forma {
  display: flex;
  flex-basis: 50%;
}
.section-newsletter__forma input {
  color: #7a85ad;
  background-color: #f5f8ff;
  margin-right: 0.75rem;
  border: 0;
  border-radius: 0.25rem;
  padding-left: 1.5rem;
}

.section-plan-and-manage {
  background-color: #f5f8ff;
}

.plan-and-manage {
  display: flex;
  position: relative;
  align-items: center;
  height: 48.5rem;
}
.plan-and-manage__content {
  display: flex;
  flex-direction: column;
  min-width: 25.25rem;
  margin-right: 4rem;
}
.plan-and-manage__content h2 {
  margin-bottom: 2rem;
}
.plan-and-manage__content .text {
  margin-bottom: 2.5rem;
}

.section-quotes {
  background-color: #e9efff;
}
.section-quotes__title {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 10%;
  flex-basis: 40%;
}
.section-quotes__content {
  display: flex;
  align-items: center;
}
.section-quotes .section-subtitle {
  font-size: 36px;
  font-weight: 500;
}
.section-quotes__testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
}
.section-quotes__testimonials-block {
  position: relative;
  display: flex;
  background-color: #f5f8ff;
  width: 26.25rem;
  padding: 2.5rem 4.25rem;
}
.section-quotes__testimonials-block--disablet {
  position: absolute;
  opacity: 0.45;
  right: -4rem;
}
.section-quotes__testimonials-block--active {
  position: relative;
}
.section-quotes__testimonials .avatar {
  position: absolute;
  bottom: -2rem;
  left: 45%;
}
.section-quotes .dots {
  margin-top: 5rem;
}

.avatar {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 100%;
}

.section-stats {
  background-color: #e9efff;
}

.stats {
  display: flex;
  height: 21.25rem;
}
.stats__left {
  width: 50%;
  background-color: #5e81fe;
}
.stats__right {
  width: 50%;
}
.stats__productivity {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 5.5rem;
  color: #fff;
}
.stats__productivity .text {
  display: flex;
  text-align: right;
  color: #fff;
}
.stats__value {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 48px;
}
.stats__users {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 5.5rem;
  color: #5283ff;
}
.stats__users .text {
  color: #5283ff;
}
.stats .text {
  line-height: 23px;
  width: 260px;
}
.stats img {
  margin: 4rem 0 1.75rem 0;
}

.section-outer {
  border-bottom: 1px solid #aeb8d0;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
}
.section-inner--wide {
  max-width: 1200px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #c7d3ff;
}