.ta-c{text-align: center;}

.text{
    @include quicksand;
    font-weight: $fw-regular;
    font-size: $fs-s;
    line-height: $base * 6;
    letter-spacing: 0.03em;
    color: $color-gray-500;
}

@media (max-width: $breakpoint-sm-max){
    .section-subtitle{
        font-size: $fs-m;
    }
}